<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Osmin</h1>
        <h3>I like music &amp; and vegan stuff</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg glyphicon glyphicon-menu-down"></a>
    </div>
</header>





<!-- About -->


    <section id="about" class="about">
    <div class="row">
        <div class="col-lg-12 text-center">
            
            <a href="#" class="btn btn-lg btn-dark">Contact Me</a>
            <a href="#" class="btn btn-lg btn-dark">Reviews</a>
            <a href="#services" class="btn btn-lg btn-dark">Shows</a>
        </div>
    </div>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>El Jovito</h2>
                    <hr class="small">
                    <div class="row">
                    <div>
                        <iframe style="border: 0; width: 500px; height: 500px;" src="https://bandcamp.com/EmbeddedPlayer/album=1066930585/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="http://osmin.bandcamp.com/album/el-jovito">El Jovito by Osmin</a></iframe>
                    </div>

                    <!-- /.row (nested) -->
                    <a href="https://osmin.bandcamp.com/album/el-jovito" class="btn btn-dark">View in Bandcamp</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
        <div class="container">
            <div class="row">



            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Concert Dates</h2>
                    <hr class="small">
                    <div class="row">

                    <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Swans" data-display-local-dates="false" data-display-past-dates="true" data-auto-style="false" data-text-color="#000000" data-link-color="#2F95DE" data-popup-background-color="#FFFFFF" data-background-color="#FFFFFF" data-display-limit="15" data-link-text-color="#FFFFFF"></a>



                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>





